<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_errors(form) }}
            <div class="ui one column stackable grid">
                <div class="column">
                    <div class="ui segment">
                        {{ form_row(form.trackingId) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
